<?xml version="1.0"?>
<!-- Name my_robot is used in GZ YAML config file for topics naming -->
<robot name="my_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="common_properties.xacro" />
    <xacro:include filename="solid_structure.xacro" />
    <!-- Comment  below line if using non-gazebo-plugins version -->
    <xacro:include filename="solid_structure_gazebo.xacro" />
    <xacro:include filename="camera.xacro" />
</robot>